<div class="comments">
    <div class="card">
        <h3 class="card-header commentCardHeader"></h3>
        <section class="comment card-body">
            <div class="text">
                {{comment_text}}
            </div>
            <div class="meta">
               <p> - {{user.username}} </p>
                <p> {{format_date created_at}} </p>
            </div>
        </section>
    </div>
</div>