

<div class="card homepage-card" style="width: 24rem;">
  <div class="card-body homepage-card-body">
    <h5 class="card-title homepage-card-title"><a class="link" href="/post/{{id}}">{{title}}</a></h5>
    <hr>
    <h6 class="card-subtitle mb-2 text-muted">Created on {{format_date created_at}}</h6>
    <p class="card-text">{{ content }}</p>
    {{!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> --}}
  </div>
</div>