<div class="welcome">
  <div>
    <h2>Welcome, {{user.username}}!</h2>
  </div>
</div>




<div class="card dashboard-container">
  <div class="card-header">
   <h2> Your Posts </h2>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item ugh">
    {{#each posts as |post|}}
      {{> dashboardPostinfo }}
    {{/each}}
    </li>
  </ul>
  <button type="submit" class="btn dashboard-link"><a class="link" href="/dashboard/newPost">+ New Post</a></button>
</div>






