<h1 class="homepage-header"> New Blogs </h1>


<div class="container homepage-container">
  <div class="row">
          {{#each posts as |post| }}
    <div class="col">
        {{> post-info}}
    </div>
        {{/each}}
  </div>
</div>




