<div>
    <div>
        <h2>Login</h2>
        <form id="login-form">
            <div>
                <label for="username-login">
                    username:
                </label>
                <input class="form-input" type="text" id="usernameLogin" />
            </div>

            <div>
                <label for="password-login">
                    password:
                </label>
                <input class="form-input" type="password" id="passwordLogin" />
            </div>

            <div>
                <button class="btn btn-primary" type="submit"">
                    Login
                </button>
            </div>
        </form>
    </div>

    <div>
        <h2>Signup</h2>

        <form id="signup-form">
            <div>
                <label for="username-signup">
                    name:
                </label>
                <input class="form-input" type="text" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">
                    passowrd:
                </label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit">
                    Signup!
                </button>
            </div>
        </form>
    </div>
</div>


<script src="../js/login.js"></script>