




<div class="the-Logins row">
    <div class="login-forms col-md-6">
        <h2 class="col-md-6">Login</h2>
        <form id="login-form" class="col-md-6">
            <div>
                <label for="username-login" class="login-label">
                    username:
                </label>
                <input class="form-input login-input" type="text" id="usernameLogin" />
            </div>

            <div>
                <label for="password-login" class="login-label">
                    password:
                </label>
                <input class="form-input" type="password" id="passwordLogin" />
            </div>

            <div>
                <button class="btn btn-primary" type="submit">
                    Login
                </button>
            </div>
        </form>
    </div>

    <div class="col-md-6 login-forms">
        <h2 class="col-md-6" >Signup</h2>

        <form id="signup-form" class="col-md-6">
            <div>
                <label for="username-signup" class="login-label">
                    username:
                </label>
                <input class="form-input login-input" type="text" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">
                    passowrd:
                </label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit">
                    Signup!
                </button>
            </div>
        </form>
    </div>
</div>


<script src="../js/login.js"></script>