
<div class="card mb-3 newpost-card">
    <h3 class="card-header">Create New Post</h3>
    <form method="post" class="card-body new-post-form newpost-card-body" id="newPost">
        <div>
            <label for="post-title" class="form-label newpost-labels">Title</label>
            <input type="text" id="post-title" name="post-title" class="form-input form-control" />
        </div>

        <div>
            <label class="form-label newpost-labels" for="content">Content</label>
            <textarea id="content" name="content" class="form-input form-control" rows="4"></textarea>
        </div>

        <button type="submit" class="btn">Create</button>
    </form>
</div>




<script src="/js/addPost.js"></script>